# Ignore prework folder
prework/

# Ignore Terraform state and plan files
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl

# Ignore Ansible vault files and secrets
*.vault
*.vault_pass
*.secret
*.key

# Ignore Packer build artifacts
packer_cache/
*.pkrvars.hcl

# Ignore SSH keys
*.pem
*.pub

# Ignore logs and temp files
*.log
*.tmp
*.bak
*.swp

# Ignore VSCode and other IDE settings
.vscode/
.idea/
.DS_Store
